@import url('../foundation/variables.css');
@import url('../foundation/reset.css');

:root {
  --max-width-content: 800px;
  --gap-200: 10px;
  --gap-300: 20px;
  --gap-400: 30px;
  --gap-500: 40px;
  --gap-600: 60px;
}

m-gallery {
  max-width: var(--max-width-content);
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.m-gallery__images {
  --gradient-size: calc(var(--gap-600));
  width: 100vw;
  padding-block: var(--gap-600);
  background-color: color-mix(in hsl, var(--color-background-primary) 80%, transparent);
  backdrop-filter: blur(30px);
  /* Cubic easing, see https://easings.net/#easeInOutCubic */
  mask-image: linear-gradient(
    transparent,
    color-mix(in hsl, black 33.0078125%, transparent),
    color-mix(in hsl, black 57.8125%, transparent),
    color-mix(in hsl, black 75.5859375%, transparent),
    color-mix(in hsl, black 87.5%, transparent),
    color-mix(in hsl, black 94.7265625%, transparent),
    color-mix(in hsl, black 98.4375%, transparent),
    color-mix(in hsl, black 99.8046875%, transparent),
    black var(--gradient-size),
    black calc(100% - var(--gradient-size) * 0.75),
    color-mix(in hsl, black 99.8046875%, transparent),
    color-mix(in hsl, black 98.4375%, transparent),
    color-mix(in hsl, black 94.7265625%, transparent),
    color-mix(in hsl, black 87.5%, transparent),
    color-mix(in hsl, black 75.5859375%, transparent),
    color-mix(in hsl, black 57.8125%, transparent),
    color-mix(in hsl, black 33.0078125%, transparent),
    transparent);

  > ul {
    margin-block: 0;
    padding-inline: 0;
    display: flex;
    overflow: auto;
    list-style: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    cursor: grab;

    &::-webkit-scrollbar {
      display: none;
    }

  }
  > ul > li {
    flex-shrink: 0;
    scroll-snap-align: center;

    > img {
      display: block;
      max-width: 100%;
      width: 100%;
      border-radius: var(--border-radius-300);
    }
  }

  @media not (min-width: 1260px) {
    > ul > li {
      width: calc(100vw - var(--gap-200) * 4);
      padding-inline: var(--gap-100);

      &:first-child {
        padding-inline-start: calc(var(--gap-200) * 2);
      }
      &:last-child {
        padding-inline-end: calc(var(--gap-200) * 2);
      }
    }
  }
  @media (min-width: 1260px) {
    > ul {
      gap: var(--gap-400);
    }
    > ul > li {
      width: var(--max-width-content);

      &:first-child {
        padding-inline-start: calc((100vw - var(--max-width-content)) * 0.5);
      }
      &:last-child {
        padding-inline-end: calc((100vw - var(--max-width-content)) * 0.5);
      }
    }
  }
}

.m-gallery__navigation {
  position: relative;
  flex-basis: 100%;
  padding-inline: var(--gap-500);
  margin-block-start: calc(var(--gap-600) * -1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.m-gallery__navigation-buttons {
  display: flex;
  gap: var(--gap-200);
}

.a-button {
  --size: 4rem;
  --color-content: var(--color-content-primary-inverse);
  display: inline-flex;
  padding-inline: var(--gap-300);
  padding-block: var(--gap-200);
  font: var(--font-label-medium);
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-300);
  color: var(--color-content);
  background-color: var(--color-background-primary-inverse);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 400ms;

  &[data-size="small"] {
    --size: 3rem;
  }

  &[data-kind="circle"] {
    box-sizing: border-box;
    border-radius: 50%;
    padding: 0;
    width: var(--size);
    height: var(--size);
  }

  &[data-variant="outline"] {
    --color-content: var(--color-content-primary);
    color: var(--color-content);
    border: 2px solid currentcolor;
    background-color: transparent;
  }

  &[data-stretch] {
    display: flex;
    box-sizing: border-box;
    width: 100%;
  }

  &[disabled] {
    --color-content: color-mix(in hsl, var(--color-content-primary-inverse), var(--color-background-primary) 50%);

    &[data-variant="outline"] {
      --color-content: color-mix(in hsl, var(--color-content-primary), var(--color-background-primary) 50%);
    }
  }

  > svg * {
    fill: currentcolor;
  }

  &:where(:focus-visible, :hover):not([disabled]) {
    background-color: color-mix(in hsl, var(--color-background-primary-inverse), var(--color-white) 10%);
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);

    &[data-variant="outline"] {
      background-color: color-mix(in hsl, transparent, var(--color-black) 4%);
    }
  }
  &:where(:active):not([disabled]) {
    transition-duration: 50ms;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);

    &[data-variant="outline"] {
      background-color: color-mix(in hsl, transparent, var(--color-black) 10%);
    }
  }
}

.a-pagination {
  > ul {
    display: flex;
    list-style: none;
    column-gap: var(--gap-100);
  }

  &[data-kind="dots"] {
    --size: 2rem;

    > ul > li > button {
      --background-color: var(--color-background-secondary-inverse);
      display: block;
      width: var(--size);
      border-radius: 50%;
      aspect-ratio: 1;
      background-image: radial-gradient(circle at 50%, var(--background-color) 50%, transparent 55%);
      background-size: 1rem 1rem;
      background-position: center;
      background-repeat: no-repeat;
      transition-property: background-image;
      transition-duration: 400ms;

      &:where(:focus-visible, :hover):not([disabled]) {
        --background-color: color-mix(in hsl, var(--color-background-secondary-inverse), var(--color-background-primary-inverse) 20%);
      }

      &[aria-pressed] {
        --background-color: var(--color-background-primary-inverse);
        transition-duration: 50ms;
        transition-timing-function: cubic-bezier(0, 0, 1, 1);
      }
    }
  }
}
